<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Blogger</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-1">
            <%= article.title %>
        </h1>
        <div class="text-muted mb-2">
            <%= article.created_at.toLocaleDateString() %>
        </div>
        <a class="btn btn-secondary" href="/">All Articles</a>
        <a class="btn btn-info" href="edit/<%= article.id%>">Edit</a>
        <div>
            <%- article.sanitizedHtml%>
        </div>
    </div>
</body>

</html>